*{
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    overflow-x: hidden;
    margin: 0;
    background-image: url('https://i.pinimg.com/564x/f5/a3/42/f5a342b5be665adad43ab046d2bc6683.jpg');
}
h1{
    color: #fff;
    margin: 50px;
    padding: 60px;
    padding-top: 20px;
    width: 100vw;
    height: 30px;
    background-color: #3468C0 ;
    text-align: center;
    justify-content: center;
    border-radius: 60px;
}
.box{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    margin: 10px;
    border-radius: 10px;
    background-color:#FF9843 ;
    box-shadow: 3px 3px 10px  #FFDD95;
    color:#fff;
    border: 1px solid;
    height: 200px;
    width: 400px;
    transform: translateX(400%); 
     transition: transform 1s ease ; /*-------->animasyon ekliyor */
}
.box:nth-last-of-type(even){ /* çift ögeleri getirir*/

    transform: translateX(-400%);
    
}

.box.show{
    transform: translateX(0);
}
.box h2{
font-size: 35px;
}